# Node.js React Web App to Linux on Azure
# Build a Node.js React app and deploy it to Azure as a Linux web app.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

variables:

  # Azure Resource Manager connection created during pipeline creation
  azureSubscription: 'f43edd4e-7d61-4337-8d77-b9118a8768b4'
  deploymentToken: '38691a2d5d05e5d44220908cb03d7e4b1d8a2c30936edb520e1d09e801fa43592-c44e6f5f-0948-4745-ad6d-34d806c63093010149902'
  webAppName: 'gif-expert'
  environmentName: 'gif-expert'
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build Solution
    pool:
      vmImage: $(vmImageName)

    steps:
    - task: NodeTool@0
      inputs:
       versionSpec: '18.x'
      displayName: 'Install NodeJs'
    
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: 'npm install'
      displayName: 'Install Dependencies'
    
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: 'npm run test'
      displayName: 'Run Tests'
    
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: 'npm run build'
      displayName: 'Build Application'

    - task: PublishPipelineArtifact@1
      displayName: 'Uploading Artifact'
      inputs:
        targetPath: '$(Pipeline.Workspace)/s/dist'
        artifact: 'gif-expert-artifact'
        publishLocation: 'pipeline'
      
    - task: AzureStaticWebApp@0
      inputs:
        app_location: '/'
        api_location: 'api'
        output_location: '/src'
        azure_static_web_apps_api_token: $(deploymentToken)
